// 猫在左边
.show-cat{
    left:80px !important;
}
.hide-cat{
      left:80px !important;
}
 @media screen and (max-width: 144px) {
     .show-cat{
        left:50px !important;
    }
    .hide-cat{
        left:50px !important;
    }
}
.home-blog .hero h1{
    color: #fff
}
.home-blog .hero .description{
    color: #fff    
}